.form-juego {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-juego input,
.form-juego textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.form-juego label {
  font-weight: bold;
}

.check {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-submit {
  background: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel {
  background: #e74c3c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
