.tarjeta {
  width: 240px;
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.tarjeta img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.eliminar {
  background: #e74c3c;
  color: white;
}
